body {
    background: #fefefe;
}

.mainHeader {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}

p {
    color: black;
    background-color: none;
    word-wrap: break-word;
    justify-content: left;
}

.diary__header {
    color: #00487C;
    font-size: 32px;
    clear: left;
}

h3 {
    color: #4684e9
}

/* .box {
    height: 100px;
    width: 100px;
    background-color: yellowgreen;
    padding: 10px;
    border: 10px solid red;
    margin: 10px;
    position: absolute;
} */

.navigation {
    
}

.navigation__link {
    color: blue;
}

.navigation__list {
    list-style: none;
}

.navigation__item {
    display: inline;
}

.JP {
    width: 100%;
    max-width: 300px;
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.about {
    overflow: hidden;
}

.diary__header--js {
    color: green;
}

.hobby {}

.hobby__list {
    list-style: none;
    padding: 0;
}