body {
    background: #fefefe;
}

.mainHeader {
    color: black;
    background-color: #377ae7;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: black;
    background-color: none;
    word-wrap: break-word;
    justify-content: left;
}

.sectionHeader {
    color: #00487C;
    font-size: 32px;
}

h3 {
    color: blueviolet;
}